* {
    padding: 0;
    margin: 0;
}

html{
    font: 14px normal Arial, sans-serif;
    color: #626771;
    background-color: #fff;
}

body{
    padding: 60px;
    text-align: center;
}

#content{
/*  background: #EDE69B url("../to-do-list.jpg") no-repeat left;*/
  background-size: cover;
  width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 20px;
}
#root{
  text-align: center;
}

.none {
  display: none !important;
}
.todoform {

  background: #FFF;
  border: 1px solid gray;
  margin: 0 auto;
}

ul{
  margin-top: 20px;
  list-style: none;
}

ul li{
    margin-bottom: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #eee;
    color: #7B8585;
    transition: 0.3s;
    font-size: 17px;
    width: 390px;
    height: 25px;
    overflow-x: hidden;
    float: left;
}

ul li:hover{
    background-color: #beecea;
    overflow-x: visible;
}

ul li.focused{
    color: #fff;
    background: #41c7c2 ;
    background-size: 25px 25px;
    text-decoration: line-through;
    font-size: 14px;

}
p{
    padding-top: 15px;
    font-size: 12px;
}

.toDoBtn{
  padding: 10px 20px;
  background-color: #beecea;
}
.toDoInput{
  margin: 10px;
  padding: 10px 20px;
  width: 300px;
}
.activelink{}
.links{
  color: black;
}
.bottomLinks{
  font-size: 15px;
  margin: 0 auto;
  margin: 20px 0 20px 0;
}
h1{
  margin: 20px;
}
.formLogin{
  margin: 0 auto;
  margin-right: 5px;
  width: 150px;
}
.inputLogin{
  margin-bottom: 5px;
  border-radius: 2px;
  height: 20px;
  width: 150px;
}
.inputPswd{
  margin-bottom: 5px;
  border-radius: 2px;
  height: 20px;
  width: 150px;
}
.signInBtn{
  float: right;
  border-radius: 2px;
  background: #beecea;
  height: 20px;
  width: 60px;
}
.changeBtn{
  float: right;
  border-radius: 2px;
  background: #beecea;
  height: 45px;
  width: 70px;
  padding: 10px 10px;

}
.clear{
  clear: both;
}
